
.main-content-wrapper{overflow-x: hidden}

:root{
      --clr-1: #EA952E ;

}



#hellopreloader{background-color: var(--clr-1)}
.slider-content-title {  font-family: '29lt_bukra_boldbold';}

.site-header{padding: 0px;background-color:var(--clr-1) }
.site-header.header--fixed{background-color: var(--clr-1)}

.site-header:before {
    background-image: url(../img//footer-line.png);
}

@media (max-width: 500px){.navigation-body {width: 300px}}
.navigation-body-close-button{margin: 0px}

 .login_link {
    color: var(--clr-1) !important;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    background-color: #fff;
    padding: 5px 15px;
    display: inline-block;
    border-radius: 30px;
    text-decoration: none;
     cursor: pointer;
     transition: 0.7s ease;
     font-family: '29lt_bukrabold_italic';
}

.login_link:hover{background-color: var(--clr-1);color:white !important}
.socials {padding: 0px !important }
.socials li{
    margin-right: 20px !important;
}

@media (max-width: 991px){
.navigation-hosting-item-img {
    margin-left: 15px !important}
    .navigation-hosting-item-img {
        margin-right: 0px !important}
    
    .login_link {
       display: block;
        margin:20px auto;
        font-size: 14px;
        border-radius: 20px
        
    }
    
    .navigation-body-section{
        padding: 13px 16px;
        border-top: solid 1px #404040
    }
    .submenu-indicator:after{margin: -3px 0 0 -57px !important}

}



.navigation-body-close-button{margin-right: auto !important}
.navigation-hosting-item{font-family:'29lt_bukrabold_italic';font-size: 14px }



.navigation-additional-menu > * {
    margin-left: 30px !important;
    margin-right: 0 !important ;
}
.navigation-link{font-family: '29lt_bukrabold_italic';font-size: 13px;font-weight: 500}
.button-style{
    
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    border-radius: 50px;
    position: relative;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    text-align: center;
    line-height: 1;
    font-weight: 700;
    outline: none;
    border: 3px solid;
    font-size: 14px;
    padding: 1.094rem 2.607rem;

}
.main-background{
    
 background-color:#EA952E;
    border-color: #EA952E;
}


.universal-links{
    display: flex;
    text-align: center;
    align-content: center;
    font-family: '29lt_bukrabold_italic';
    flex-flow: wrap;
    justify-content: center
}
.universal-links .link-1{
     background-color:#fff;
    border-color: #fff;
    color: #000;
    transition: 0.7s ease;
    box-shadow: 7px 7px 5px rgba(0,0,0,.075);

}
.universal-links .link-2{
   
    background-color:#EA952E;
    border-color: #EA952E;
    color: white;
    transition: 0.7s ease;
        box-shadow: 7px 7px 5px rgba(0,0,0,.075);




}
.crumina-main-slider{background-color: #ededed}
.crumina-main-slider .slider-content-title{font-size: 2.4rem}
.universal-links .link-2:hover{background-color:#fff;border-color: #fff;color:#EA952E  }
.universal-links .link-1:hover{background-color:#EA952E;border-color: #EA952E;color: #fff}

.crumina-main-slider .swiper-slide{padding: 50px 0px !important}

.slider-thumb img {max-height: 505px !important}
.slides-item .slides-item-text{color: #1A233A}
.slides-item.swiper-slide-active .slides-item-text, .slides-item:hover .slides-item-text{color: #1A233A;opacity: 1}

@media (max-width: 768px){
.crumina-main-slider .swiper-slide {padding: 80px 0 30px 0 !important}
    .slider-thumb img{max-height: 395px !important  }
}

@media (max-width:992px){
    
.crumina-main-slider .slider-content-title{font-size: 26px}

}

@media(max-width:480px){
    /**.slider-thumb .bg-img{max-height: 300px!important}**/
        .slider-thumb img{max-height: 210px !important  }

    
}


@media (min-width:576px){
    .universal-links .link-1,.universal-links .link-2{padding:7px 35px; } 
}
@media (min-width:768px) and (max-width:992px){
    .universal-links .link-1{margin-right: 0px}
}

@media (min-width: 400px) and (max-width: 768px){
.button--l {
    font-size: 10px;
    padding: .6rem 1rem;
    }
}
.navigation-user-menu .crumina-icon {fill: var(--clr-1)}
.language{
    display: flex
        ;justify-content: center;
    align-items: center;
    color: white ;
    cursor: pointer;
    font-size: 19px ;
    font-weight: 500
}

.cart-icon:hover{animation: shake 1s ease}
@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-3px);
    -ms-transform: translateX(-3px);
    transform: translateX(-3px);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(3px);
    -ms-transform: translateX(3px);
    transform: translateX(3px);
  }
}

.navigation-search:hover .crumina-icon{fill:#fff !important}

.language{
    
    position: relative;
    direction: rtl;
}

.dropdown-language {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 100;
 border-bottom-left-radius: 10px;
 border-bottom-right-radius: 10px;
    left:38%;
    margin-top:5px;

}
.dropdown-language a {
  color: #ccc;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
    transition: 1s ease;
    font-size: 12px;
    display: flex;
    align-items: center;
}
.dropdown-language a span{margin-right: 10px}
.dropdown-language a:first-of-type{border-bottom: 1px solid #ccc}

.dropdown-language a:hover {background-color: #eeeeee; border-bottom-left-radius: 10px;
 border-bottom-right-radius: 10px;}

.tooltip{position: relative}

.tooltip .tooltiptext {
  width: 120px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 100;
  top: 90%;
  left: 50%;
  margin-left: -60px;
    transition: all 0.7s ease;
    display: none
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #000 transparent;
}

.tooltip:hover .tooltiptext {
display: block}



@media (max-width:992px){
    
  .tooltip .tooltiptext {
  top: 12px !important;
  right: 20% !important;
}

.tooltip .tooltiptext::after {
  top: 50% !important;
  left: 104% !important;
  margin-top: -5px !important;
  border-width: 5px !important;
  border-style: solid !important;
  border-color: transparent transparent transparent black !important;
}
    .dropdown-language{right: 0;width: 200px;margin-bottom: 50px}
}



.stunning-header-bg {
  background-color: #ededed;
}

.crumina-main-slider .slider-content-title {color: #1A233A}




.Systems{
    position: relative;
    background-color:#eeeeee ;
    padding: 4em 0;
    direction: rtl;
    
}

.system-content > p{
    font-weight: bold;
    font-size: 20px;
    color: var(--clr-1);
    font-family: '29lt_bukrabold_italic';
}

@media (min-width: 992px) and (max-width:1200px){
    
    .navigation-link { padding: 23px 5px;font-size: 10px}
    .login_link {font-size: 10px}
}

.link-modal-popup .crumina-icon{fill:#fff !important}


.system-desc-img{
    /*
    background: url(../img/2.png) no-repeat center center ;
    width: 302px;
    height: 217px;
        overflow: hidden;
*/
    cursor: pointer;
    position: relative;
    transition: 0.6s ease;

    
}

.system-desc-img img{
    width: 263px;
    height: 189px;
    transition: 0.6s ease;
}
.system-content:hover .hover{
    animation: swing 0.7s ease;
}
.system-content:hover .img-hover{
    transform: scale(1.2);
}
.system-description{
    background-color: #fff;
    padding: 10px 15px;
}

@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  40% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  60% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }

  80% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes swing {
  20% {
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  40% {
    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  60% {
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
  }

  80% {
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}



.system-description{
    
    background-color: #fff;
    font-size: 14px;
    color: #808184;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-weight: 600;
    text-align: justify;
    padding:15px 5px;

    
}
.system-description p{ 
    margin-bottom: 0;
    padding: 0px 20px;
 font-family: 'efframedium';
    font-weight: 500;

}

.system_description{
 background-color: #fff;
    font-size: 14px;
    color: #808184;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    font-weight: 500;
    text-align: justify;
    padding:  12px;
    margin-top: 1.5rem;
    display: none;
    width: calc(100% - 15%);
    margin: 1.5rem auto 0;
   
}
.system_description p{font-family: 'efframedium'}


@media only screen and (max-width: 992px) {
    
    .system_description{display: flex}
    .system-description{display: none}
    .system-content{margin-bottom: 1.5rem}
} 

.packages-title h3 {
    font-weight: bold;
    color: var(--clr-1);
    letter-spacing: 0.5px;
    position: relative;
    font-family: '29lt_bukrabold_italic';
    margin-bottom: 0px
}
.pricing-title{font-family: '29lt_bukrabold_italic';}
.packages-title h3::after{
   position: absolute;
    content: "";
    left: 50%;
    transform: translateX(-50%);
    bottom: -25%;
    width: 50px;
    height: 3px;
    background-color: var(--clr-1)
    
}
.pricing-description{  font-family: 'efframedium';text-align: right !important}
.pricing-description span{margin-bottom: 10px}
.main-pricing-content .rate{font-family: '29lt_bukrabold_italic'}

 .pricing-tables-item-border-bottom .free   {margin-top: 2.5rem}


.banner-content p{
  font-size: 20px;
    color: #000;
    font-weight: bold;
    line-height: 2;
        font-family: '29lt_bukrabold_italic';

    
}

.pricing-thumb img{
    width: 150px !important;
    height: 100px !important;
    max-width: 150px !important;
}


.banner-1 .banner-content a{
 text-decoration: none;
    color: #fff;
    background-color: var(--clr-1);
    padding: 0px 50px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 25px;
    font-family: '29lt_bukrabold_italic';
    
}
.banner-img {margin-top: -40px}

@media only screen and (max-width: 992px) {
    
    .banner-content p{font-size: 16px; line-height:1.5; }
    .banner-content a{font-size: 14px;  }

}
@media only screen and (max-width: 991px) {
    
    .banner-content{margin-bottom: 12px;}
}

.why-us{position: relative;background-color:#eeeeee;padding: 5em 0;direction: rtl }


.why-us .why-us-title h3{
    
    font-size: 17px;
    color: white;
    padding: 4px 60px;
    background-color: var(--clr-1);
    font-weight: bold;
    display: inline-block;
    border-radius: 25px;
    font-family: '29lt_bukrabold_italic';
    
    
}
why-us-description{cursor: pointer}
.why-us-description h3{
    font-size: 15px;
    color: #000;
    font-weight: bold;
    text-align: center;
    font-family: '29lt_bukrabold_italic';
    margin-bottom: 10px

}
.why-us-description div img{
    max-height: 116px !important;
    height: 115px !important;
    cursor: pointer;

}


/*
@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }
}

   */

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

 
.why-us-description p{
    font-size: 13px;
    color: #808081;
    text-align: justify;
    cursor: pointer;
    font-family: 'efframedium';
    line-height: 1.5

}

@media only screen and (max-width: 768px) {
    
    .why-us-description{margin: auto;width: 80%}
    .why-us-description p{font-size: 14px}

}
@media only screen and (max-width: 992px) {
.why-us-description{margin-bottom: 30px}
 
}



.about-us{
    position: relative;
    padding: 3em 0;
    background-color: var(--clr-1);
    direction: rtl;
    
}

.about-info{
    background-color: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    margin-left: -52.5px;

    
}

.about-info .about-img{
    width: 107px;
    height:107px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #EDEEEE;
    border-radius: 50%;
    margin-right: -50px;
    cursor: pointer;
}

.about-info .about-img:hover{
    
    animation: rotateIn 0.8s ease forwards;
    
}


@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: rotate(360deg);
    transform: rotate(-360deg);
  }

  100% {
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}

@keyframes rotateIn {
  0% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  100% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
}



.about-text p:first-of-type{
    
    color: #808081;
    font-weight: bold;
    margin-bottom: 0;
    font-size: 16px;
    margin-bottom: 0.7px;
    font-family: '29lt_bukrabold_italic';
    
}
.about-text p  .num-counter{
    
    color: var(--clr-1);
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 0;
    margin-top: -8px;
    font-family: '29lt_bukrabold_italic';
    
    
}

.about-text p span:last-child{
    
    font-size: 10px;
    font-weight: 900;
        color: var(--clr-1);
    font-family: '29lt_bukrabold_italic';

    
}

@media only screen and (max-width: 576px){
    .about-info{margin-bottom: 20px}
}


.our-work{
    position: relative;
    padding: 3em 0;
    background-color: #eeeeee;
    direction: rtl;
    
}
.banner-2{
    background: url(../img/Asset%2023.png) no-repeat center center;
  background-size: contain;

}
.work-title h3{
    font-size: 17px;
    padding: 5px 30px;
    background-color: var(--clr-1);
    margin-bottom: 15px;
    display: inline-block;
    color: #fff;
    border-radius: 25px;
        font-family: '29lt_bukrabold_italic';

}

 .work-img{
    
     width: 150px;
     height: 150px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     background-color: #fff;
     border-radius: 50%;
     
    
}
.work-name p{font-size: 20px;text-align: right;    font-family: '29lt_bukrabold_italic';}
.work-img .back-ground{
    border: 1px solid #eeeeee;
         border-radius: 50%;
    width: 140px;
    height: 140px;
    display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;

}
.work-name{
    font-weight: bold;
    letter-spacing: 0.5px;
      display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
    font-size: 20px;
}

@media (max-width:480px){
    .work-name p{font-size: 16px}  
}
@media (min-width:992px)  and  (max-width:1200px){
    .work-name p{font-size: 12px}  
}

.work-description{
    
    font-size: 14px;
    color:#808081;
    font-weight: 500;
    letter-spacing: .5px;
        font-family: 'efframedium';

}


@media only screen and (max-width: 767px) {
    
    .work-title{margin-top: 40px}
    
}

.work-slider .prev-arrows , .work-slider .next-arrows {
    
    position: absolute;
    bottom: -13%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #CDCFD0;
    color: gray;
    font-size: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.work-slider .prev-arrows{right: 20%;z-index: 100}
.work-slider .next-arrows{left: 20%;z-index: 100}

.slick-dots{bottom: -13% !important;width: auto !important; left: 50% !important;transform: translateX(-50%)}

.slick-dots li button::before{color: #CDCFD0}
.slick-dots li.slick-active button::before{
    color: var(--clr-1) !important;
    
}
.slick-dots li button::before:focus{opacity: 0 !important }

@media only screen and (max-width: 357px) {
    .work-name p{font-size: 16px}
    .work-img {width: 120px;height: 120px;}
    .work-img .back-ground{width: 110px;height: 110px}
    .work-img .back-ground img{width: 80px}
    .work-slider .prev-arrows, .work-slider .next-arrows{margin-bottom: 20px}


} 

.partners h3{
    color: var(--clr-1);
    padding: 10px 30px;
    background-color: #fff;
    font-weight: bold;
    border-radius: 10px;
        font-family: '29lt_bukrabold_italic';

}

.partner{
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 7px 7px 5px rgba(0,0,0,.075);
    padding-bottom: 2em ;
    direction: rtl;
}
.banner-3 {width: 100%}
.banner-3 img{
    width: 100%;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;


}
.partner-logo{
     width: 150px !important;
    height: 150px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 7px 7px 5px rgba(0,0,0,.075);
    margin-top: -80px

         
}
.partner-logo img{height: 90px !important;width: 90px !important}
.partner-name p:nth-child(1){
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #000;
        font-family: '29lt_bukrabold_italic';

}
.partner-name p:nth-child(2){
    font-weight: bold;
    letter-spacing: 0.5px;
    color: var(--clr-1);
    font-size: 14px;
            font-family: '29lt_bukrabold_italic';

}

.partner-name p:nth-child(3){
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #808083;
    padding: 0px 50px;
    text-align: justify;
    height: auto;
    font-family: "Effra";
    line-height: 1.5;
    margin-bottom: 0px
    
    
  
}

.partner .icons span{
 width: 30px;
    height: 30px;
    background-color: var(--clr-1);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 10px;
    border-radius: 50%;
    transition: 0.8s ease;
    cursor: pointer
    
}

.partner .icons span:hover{transform: scale(1.2)
}


@media (min-width: 481px) and (max-width: 767px){
   
    .partner{width: calc(100% - 30%);margin: auto}
       
}



@media (max-width: 480px) {.partner{width: calc(100% - 10%);margin: auto};}


.partenter-slider .prev-arrow , .partenter-slider .next-arrow{
     position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #CDCFD0;
    color: gray;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    top: 50%;
}

.partenter-slider .prev-arrow{right: 0%;z-index: 100}
.partenter-slider .next-arrow{left: 0%;z-index: 100}


@media (min-width:1300px){
.partenter-slider .prev-arrow{right: -3%}
.partenter-slider .next-arrow{left: -3%}

}

.banner-4{
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 30vh;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    direction: rtl;
  padding-left: 100px

    
    
}
.free-try-2{display: none;background-color:#f7f7f9;padding: 20px 0px; }
.free-try p , .free-try-2 p{
    font-size: 38px;
    color: #000;
    font-weight: bold;
    letter-spacing: 0.7px;
     font-family: '29lt_bukrabold_italic';
}

.free-try a , .free-try-2 a{
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.7px;
    background-color: var(--clr-1);
    padding: 2px 20px;
    text-decoration: none;
    border-radius: 20px;
     font-family: '29lt_bukrabold_italic';
}


 @media (min-width: 768px) and (max-width: 1200px){
   
     .free-try p{font-size: 25px} 
     .banner-4{padding-left: 40px}
}

@media (min-width: 600px) and (max-width: 768px){
   
     .free-try p{font-size:20px} 
         .banner-4{padding-left: 20px}

}


@media only screen and (max-width: 650px) {
    
   .free-try-2{display: block}
    .free-try-2 p {font-size: 20px;margin-bottom: 10px}
   .free-try{display: none}
   
} 

.blog{
    
    position: relative;
    background-color: #eeeeee;
    padding: 3em 0;
    direction: rtl;
}
.blog-content{
    border-radius: 35px;
    background-color: #fff;
    box-shadow: 7px 7px 5px rgba(0,0,0,.075);
    padding: 30px 15px;
    text-align: center;
    
}
.blog-content img{
    height: 142px;
    max-height: 145px;
}
.blog-content h3{
    font-size: 20px;
    font-weight: bold;
    color: var(--clr-1);
    letter-spacing: 0.5px;
     font-family: '29lt_bukrabold_italic';
    
}


.blog-content p{
    font-weight: 400;
    color: #808081;
    text-align: justify;
    text-overflow: ellipsis;
    overflow:hidden; 
    font-family: 'efframedium';
    line-height: 1.5;
    display: -webkit-box;
    -webkit-line-clamp:7;
    -webkit-box-orient:vertical;
    font-size: 15px;
    
    

}


.blog-content a{
    font-size: 16px;
    font-weight: bold;
    background-color: var(--clr-1);
    letter-spacing: 0.5px;
    color: white;
    padding: 2px 20px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
        font-family: '29lt_bukrabold_italic';

    
}
.blog-content.offers{position: relative}
.blog-content.offers h3{
    
   font-size: 14px;
    color: var(--clr-1);
    border: 1px solid var(--clr-1);
    border-radius: 25px;
    padding: 0px 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.blog-content.offers p{
    
     text-align: center !important;
    color: var(--clr-1) !important;
    font-family: '29lt_bukrabold_italic' !important;
    font-size: 22px !important; 
}
.blog-content.offers a{
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    width: max-content;
}

@media (max-width: 480px) {
    .blog-content{
        width: calc(100% - 15%);
        margin: auto;
        padding: 30px 20px;
    }

}


.blog-slider .prev-arrow , .blog-slider .next-arrow{
     position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #CDCFD0;
    color: gray;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    top: 50%;
}

.blog-slider .prev-arrow{right: 0%;z-index: 100}
.blog-slider .next-arrow{left: 0%;z-index: 100}


@media (min-width:1300px){
    .blog-slider .prev-arrow{right: -3%}
.blog-slider .next-arrow{left: -3%}

}


.get-app{
    
    position: relative;
    background-color: #1A233A;
        direction: rtl;
        font-family: '29lt_bukrabold_italic';


}

.get_application p{
    
    font-size: 20px;
    letter-spacing: 0.5px;
    font-weight: bold;
    color: #EA952E;
    
}

.downloads{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center
}


.download-android a ,.download-ios a  {
    
    color:#1A233A;
    background-color: #fff;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    border-radius: 25px;
    font-weight: bold;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    margin-left: 15px
}


.contact{
    padding: 3em 0;
    position: relative;
    background-color: #ebf2f8;
    direction: rtl
}


.contact .contact-title{
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.5px;
        font-family: '29lt_bukra_boldbold';
}
.contact .contact-title p{color: #1a233a}
.contact .contact-title span{color: var(--clr-1)}
.contact-input input{
    color: #808081;
    background-color: #fff;
    border-radius: 25px;
    padding:10px;
    border: none;
    outline: none;
    width: 100%;
    font-family: '29lt_bukrabold_italic';
    font-size: 13px;
}
.contact-input textarea{
    width: 100%;
    color: #808081;
    background-color: #fff;
    border-radius: 25px;
    padding:20px;
    width: 100%;
    border: none;
    outline: none;
    margin-top: 10px;
    min-height: 150px;
        font-family: '29lt_bukrabold_italic';
        font-size: 13px;


    
    
    
}
.contact-input input[type="submit"]{
    
    color: #fff;
    padding: 6px 60px;
    background-color: var(--clr-1);
    border-radius: 30px;
    font-weight: bold;
    margin-top: 30px;
width: auto;
    text-align: center;
    display: inline-block;
    transition: 1s ease;
}

.contact-input input[type="submit"]:hover{transform: scale(1.1)}



.payment-ways img{
    width: 100px;
    height: 70px
}

footer{
    
    background-color:#1A233A ;
    padding: 5em 0;
    position: relative;
    direction:rtl;
    text-align: right;
}

.footer-menu h5{
    font-weight: bold;
    color: #F5911E;
    letter-spacing: 0.5px;
    font-family: '29lt_bukrabold_italic';
    padding-right: 20px
    
}

@media (min-width:768px) and (max-width:992px){
    
    
    .main-title{font-size: 17px}
}


.footer-menu ul{

    padding: 0px 20px 0px 0px;
    margin: 0;
    list-style-type: none;
    border-right: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px
}


.footer-menu ul li a {
  display: inline-block;
    margin-bottom: 15px;
    color:#fff;
    text-decoration: none;
    transition: 0.7s ease;
        font-family: 'efframedium';

}

.footer-menu ul li a:hover{color: var(--clr-1)}

.Social-media span a{
    margin-right: 20px;
    text-decoration: none;
    
}
.Social-media span a img{
    width: 20px;
    height: 20px;
}

.Social-media span:hover {    transition: 0.7s ease;  transform: scale(1.1)}



#icon-to-top{fill: var(--clr-1)!important}

@media (max-width: 768px){
.back-to-top {bottom: 50px}
    }


@media (min-width:768px) and (max-width:992px){
 .download-android a{margin-bottom: 10px}
    .get_application p{margin-top: 10px}


    
}

@media (max-width:576px){
    .download-android a, .download-ios a{margin-left: 0px}
    .downloads{justify-content: space-evenly}
}
@media only screen and (max-width: 480px) {
    
    .Social-media span a{margin-right: 10px}
    .contact-title p{font-size: 12px}
    .download-android a, .download-ios a{padding: 8px 16px;margin-bottom: 10px}
    .get_application p{font-size: 15px;margin-top: 10px}
    .get_application p span{font-size: 15px !important}
} 

@media only screen and (max-width: 357px) {
    .contact-title p{font-size: 13px}
    .download-android a, .download-ios a{padding: 3px 13px}


} 

.banner-5{
    position: absolute;
    bottom: 45px;
    left: 0;
    background-image: url("../img/footer-line.png");
    display: block;
    width: 100%;
    height: 7px;
    background-repeat: repeat-x;
    background-size: contain;
}

.submenu-indicator{margin-right: 6px !important}


@media only screen and (max-width: 400px) {
    .why-us .why-us-title h3{padding: 4px 25px;font-size: 16px}
    
    
}

@media (min-width: 400px) and (max-width: 768px){
.button--l {
    font-size: 12px;
padding: .5rem 1.7rem;
}

}

@media (max-width: 400px){
.button--l {
    font-size: 10px;
    padding: .5rem 1.5rem;
}

}


@media (max-width: 350px){
.button--l {
    font-size: 10px;
    padding: .5rem 1rem;
}

}



.hvr-bounce-to-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;

}
.hvr-bounce-to-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-left:hover, .hvr-bounce-to-left:focus, .hvr-bounce-to-left:active {
    color: #ea952e!important;

}
.hvr-bounce-to-left:hover:before, .hvr-bounce-to-left:focus:before, .hvr-bounce-to-left:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

/* Bounce To Right */
.hvr-bounce-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
    padding: 2px 20px !important ;
}
.hvr-bounce-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active {
  color: #ea952e!important;
}
.hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

/* Bounce To Bottom */
.hvr-bounce-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
        padding: 5px 50px !important ;

}
.hvr-bounce-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-bottom:hover, .hvr-bounce-to-bottom:focus, .hvr-bounce-to-bottom:active {
  color: #ea952e!important;
}
.hvr-bounce-to-bottom:hover:before, .hvr-bounce-to-bottom:focus:before, .hvr-bounce-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}


/* Icon Pop */
@-webkit-keyframes hvr-icon-pop {
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}
@keyframes hvr-icon-pop {
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}



/* Sweep To Right */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
    border-radius:25px;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ea952e;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
    border-radius:25px;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
      color: #fff!important;

}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}



.tool-bar{
    
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 350;
    display: none;
    align-items: center;
    justify-content: space-between;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    padding: 5px;
    height: 50px;
    background-color: #eeeeee;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.12);
    
}

.tool-bar > div{flex: 1 0 20%;position: relative}
.tool-bar > div a{
    
        display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    font-weight: 400;
    line-height: 1;
    height: 45px;
    color: #333;
    position: relative;
    padding: 0px 10px 18px
}

.tool-icon svg{width: 20px ; height: 20px;color: #333}
.tool span{
    
    position: absolute;
    right: 10px;
    bottom: 5px;
    left: 10px;
    display: block;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 600;
    font-size: 11px;
    line-height: 1;
    color: #333;
    font-family: 'cairo';

}

@media (max-width:992px){
    .tool-bar{display: flex}
    
}



